<%-include('../partials/header.html')%>
<%-include('partials/navigation.html')%>

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">About Us Page</h2>
                    </div>
                    <div class="col-lg-8">
                      <h3>Name: Adones & Jude</h3>
                      <p>Address: Montego Bay, Ocho Rios</p>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Moon Palace</h3>
                                <p>Ocho Rios, 6107</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>(091)234-5789 || 008-7000</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>dolphon-cove@gmail.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- ================ contact section end ================= -->
    <%-include('../partials/footer.html')%>
    <%-include('partials/footer.html')%>