<%-include('../partials/header.html')%>
<%-include('partials/navigation.html')%>  
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active dot-style">
                <div class="single-slider hero-overly slider-height d-flex align-items-center"
                    data-background="/assets/img/hero/dolphin-hero.jpeg">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-xl-9">
                                <div class="h1-slider-caption">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">Welcome to Dolphin Cove</h1>
                                    <h3 data-animation="fadeInDown" data-delay=".4s">~JAMAICA~</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider  hero-overly slider-height d-flex align-items-center"
                    data-background="/assets/img/hero/dolphin-hero2.jpeg">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-xl-9">
                                <div class="h1-slider-caption">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">Caribbean's #1 Attraction</h1>
                                    <h3 data-animation="fadeInDown" data-delay=".4s">Make a Reservation Today</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider  hero-overly slider-height d-flex align-items-center"
                    data-background="/assets/img/hero/dolphin-hero3.jpeg">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-xl-9">
                                <div class="h1-slider-caption">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">You will have an experience of a life time!</h1>
                                    <h3 data-animation="fadeInDown" data-delay=".4s">With Friends and Family </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Make customer Start-->
        <section class="make-customer-area customar-padding fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="customer-img mb-120">
                            <img src="/assets/img/customer/product1.jpeg" class="customar-img1" alt="">
                            <img src="/assets/img/customer/customar2.png" class="customar-img2" alt="">
                            <div class="service-experience heartbeat">
                                <h3>#1 Attraction in the <br>Caribbean</h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-4 col-lg-4">
                        <div class="customer-caption">
                            <span>Encounter</span>
                            <h2>A DAY OF FUN</h2>
                            <div class="caption-details">
                                <p class="pera-dtails">They will give you a kiss and allow you to caress them while standing in knee deep water. 
                                    This adventure is best for those who are not comfortable swimming in the sea and the very young. 
                                </p>
                                <a href="#" class="btn more-btn1">Learn More <i class="ti-angle-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Make customer End-->

        <!-- Room Start -->

        <!-- Room End -->

        <!-- Dining Start -->
        <div class="dining-area dining-padding-top">
            <!-- Single Left img -->
            <div class="single-dining-area left-img">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8 col-md-8">
                            <div class="dining-caption">
                                <span>Swim Adventure</span>
                                <h3>SWIM WITH THE DOLPHINS</h3>
                                <p>At Dolphin Cove, interact with one dolphin while swimming in the deep. 
                                    Enjoy a kiss, try a dance, perhaps you will get a splash or two and have a real up close experience.
                                </p>
                                <a href="#" class="btn border-btn">Learn More <i class="ti-angle-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single Right img -->
            <div class="single-dining-area right-img">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8 col-md-8">
                            <div class="dining-caption text-right">
                                <span>Royal Swim</span>
                                <h3>FUN TO THE LIMIT!</h3>
                                <p>The most fun and unique program, designed to exceed all your expectations.
                                    Feel the thrill of foot-push; The dolphins will rise you above the water 
                                    surface by pushing you from the soles of your feet.
                                </p>
                                <a href="#" class="btn border-btn">Learn More <i class="ti-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dining End -->

        <!-- Testimonial Start -->

        <!-- Testimonial End -->


        <!-- Gallery img Start-->
        <div class="gallery-area fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery-active owl-carousel">
                            <div class="gallery-img">
                                <a href="#"><img src="/assets/img/gallery/gallery-1.jpeg" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="#"><img src="/assets/img/gallery/gallery-2.jpeg" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="#"><img src="/assets/img/gallery/gallery-3.jpeg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery img End-->
    </main>

    <%-include('../partials/footer.html')%>
<%-include('partials/footer.html')%>